@charset "utf-8";
/* CSS Document */

/* Normal styles for the modal */
#modal {
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	overflow: hidden;
/*
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	*/
	
	box-sizing:border-box;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
	/* Make the modal appear when targeted */
	#modal:target {
		opacity: 1;
		top: 0;
		visibility: visible;
	}
#modal .header ,#modal .footer {
	border-bottom: 1px solid #e7e7e7;
	height: 10%;
	vertical-align: middle;
	background-color: #000;
}
	#modal .footer {
		border:none;
		border-top: 1px solid #e7e7e7;
	}
#modal h2 {
	margin:0;
}
#modal .btn {
	float:right;
}
#modal #works-content, #modal .header, #modal .footer {
	padding:0;
}
.modal-content {
	background: #fff;
	position: relative;
	z-index: 40;
	border-radius: 5px;
	height: 100%;
}
#modal #works-content {
	background: #fff;
	width: 100%;
	height: 80%;
	overflow: hidden;
}

#modal .overlay {
	background-color: #fff;
	/*background: rgba(0,0,0,1);*/
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 30;
}
