
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800);

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
*,
*:after,
*:before {
  @include box-sizing(border-box);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.main-container {
	width: 100%;
	height: 100%;
	position: relative;
		
	.home-container, .portfolio-container {
		width: 100%;
		height: 100%;
		position: absolute;
		color: #fff;
		text-align: center;
	}
	
	.home-container {
		background: #000;
		z-index: 9999;
		overflow: hidden;
	}
	.portfolio-container {
		background-color: #ff0;
		z-index: 999;
	}

}
	
.home-container {
	.logo {
		width: 100%;
		height: 92%;
		float: left;
		text-align: center;
		text-transform: uppercase;
	}
	.scroll-div {
		width: 100%;
		height: 8%;
		float: left;
		background-color: #000;
	}
}

.logo-circle {
    width: 200px;
    height: 200px;
    background: #fff;
	@include border-radius(50%);
	@include vertical-align;
	margin: auto;
	position: relative;
		
		h1 {
			position: absolute;
			color: #000;
			font-weight: 300;
			@include vertical-align;
			padding: 0 50px;
			font-size: 2.5em;
			line-height: 1em;
		}
}

.p-intro {
	letter-spacing: 0.5em;
	word-spacing: 0.5em;
	@include vertical-align;
}
